<!DOCTYPE html>
<!--
 *  Copyright (c) 2015 The WebRTC project authors. All Rights Reserved.
 *
 *  Use of this source code is governed by a BSD-style license
 *  that can be found in the LICENSE file in the root of the source
 *  tree.
-->
<html>

<head>
    <title>trAiner - your digital homegym-buddy</title>
    <link rel="stylesheet" href="public\css\login.css" />
</head>

<body>
    <div class="form">

        <ul class="tab-group">
            <li class="tab active"><a href="#login">Log In</a></li>
            <li class="tab"><a href="#signup">Sign Up</a></li>
        </ul>

        <div class="tab-content">
            

            <div id="login">
                <h1>Welcome Back!</h1>

                <form action="/auth" method="post">

                    <div class="field-wrap">
                        <label>
                            Username<span class="req">*</span>
                        </label>
                        <input type="text" name="name" id="username" class="form-control formgroup" required=""
                            autofocus="" />
                    </div>

                    <div class="field-wrap">
                        <label>
                            Password<span class="req">*</span>
                        </label>
                        <input type="password" name="password" id="password" required="" autofocus=""
                            class="form-control formgroup" />
                    </div>

                    <p class="forgot"><a href="#">Forgot Password?</a></p>

                    <button class="button button-block" />Log In</button>

                </form>

            </div>

            <div id="signup">
                <h1>Sign Up for Free</h1>

                <form action="/signup" method="post">

                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                First Name<span class="req">*</span>
                            </label>
                            <input type="text" name="name" id="name" class="form-control formgroup" required autocomplete="off" />
                        </div>

                        <div class="field-wrap">
                            <label>
                                Last Name<span class="req">*</span>
                            </label>
                            <input type="text" name="sname" id="susername" class="form-control formgroup" required autocomplete="off" />
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Account<span class="req">*</span>
                        </label>
                        <input type="text" name="account" id="account" class="form-control formgroup" required autocomplete="off" />
                    </div>

                    <div class="field-wrap">
                        <label>
                            Set A Password<span class="req">*</span>
                        </label>
                        <input type="password" name="password" id="password" class="form-control formgroup" required autocomplete="off" />
                    </div>

                    <button type="submit" class="button button-block" />Get Started</button>

                </form>

            </div>

        </div><!-- tab-content -->

    </div> <!-- /form -->

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="public/js/login.js"></script>

</body>

</html>