<!DOCTYPE html>
<!--
 *  Copyright (c) 2015 The WebRTC project authors. All Rights Reserved.
 *
 *  Use of this source code is governed by a BSD-style license
 *  that can be found in the LICENSE file in the root of the source
 *  tree.
-->
<html>

<head>
   <title>trAiner - your digital homegym-buddy</title>
   <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
</head>

<style>
   body {
      background: #eee;
      padding: 5% 0;
   }

   #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 360px);
      grid-auto-rows: 360px;
   }

   video {
      background: black;
      border: 1px solid gray;
      object-fit: cover;
      object-position: center;
   }

   #localVideo {
      width: 360px;
      height: 640px;
      position: relative;
   }

   #remoteVideo {
      width: 360px;
      height: 640px;
   }
</style>

<body onload="bindPage()">
   <div id="video-grid">
      <div id="videoGridLocal">
         <h2 id="counter"></h2>
         <video id="localVideo" autoplay></video>
         <H1>
            <%=username%>
         </H1>
         
      </div>
      <div id="videoGridGuest" style="display: None">
         <h2 id="guestCounter"></h2>
         <video id="remoteVideo" autoplay></video>
         <H1 id="guestName">Guest</H1>
         
         <button id="hangUpBtn" class="btn-danger btn">Hang Up</button>
      </div>
      <div id="videoGridCall">
         <select id="myList">
            <option> ---Online Buddies--- </option>
            <%for (var i=0; i<buddies.length;i++) {%>

               <% if (status[i]===1) { %>
                  <option>
                     <%=buddies[i]%>
                  </option>
                  <%}%>


                     <%};%>
         </select>

         <button id="callBtn" class="btn-success btn">Call</button>
      </div>
      <div id="videoGridWorkout">

         <button id="workoutButton" type="button" onclick="runWorkout(true)">Start Workout</button>
         <h1 id="exerciseName"></h1>
         <h2 id="goal"></h2>
         <h4 id="following"></h4>
      </div>

      <script src="/js/app.js"></script>
      <!-- Load TensorFlow.js -->
      <script src="https://unpkg.com/@tensorflow/tfjs"></script>
      <!-- Load Posenet -->
      <script src="https://unpkg.com/@tensorflow-models/posenet"></script>
      <script type="text/javascript"></script>


</body>

</html>