<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>trAiner - your digital home gym buddy</title>
    
    <link rel="stylesheet" href="public\css\login.css" />
    <link rel="stylesheet" href="public\css\webrtc.css" />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />

 
</head>

<style>
    body {
       background: #eee;
       padding: 5% 0;
    }
 
    #video-grid {
       display: grid;
       grid-template-columns: repeat(auto-fill, 360px);
       grid-auto-rows: 360px;
    }
 
    video {
       background: black;
       border: 1px solid gray;
       object-fit: cover;
       object-position: center;
    }
 
    #localVideo {
       width: 360px;
       height: 640px;
       position: relative;
    }
 
    #remoteVideo {
       width: 360px;
       height: 640px;
    }
 </style>

<body>
   
<div id="video-grid">
    <!-- Der Hauptbereich, wo ein Raum erstellt werden kann und das Video-Element vom Peer und das eigene Video-Element angezeigt wird.-->
    <div id="videoGridLocal">
        <video id="localVideo" onclick="playVideoFromCamera()" autoplay playsinline controls="false"></video>
        <H1>
            <%=username%>
        </H1>
    </div>
    <div id="videoGridGuest">
        <video id="remoteVideo" autoplay></video>
        <H1 id="guestName">Guest</H1>

    </div>
</div>



    <!-- Scripts -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="public/js/login.js"></script>
    <!--Local Stuff-->
         <script src="/js/simplewebrtc.bundle.js"></script>
        <script src="public/js/app.js"></script>
        <script src="public/js/webrtc.js"></script>
      <!-- Load TensorFlow.js -->
      <script src="https://unpkg.com/@tensorflow/tfjs"></script>
      <!-- Load Posenet -->
      <script src="https://unpkg.com/@tensorflow-models/posenet"></script>
    
  
      <script type="text/javascript"></script>

   
</body>
</html>